p{
    background-color: aquamarine;
}

a{
    background-color: rgb(223, 156, 156);
}

div{
    background-color: yellowgreen;
}

span{
    background-color: palevioletred;
}

input{
    background-color: rgb(245, 171, 202);
}